
.doctor-page{
  padding:60px 20px;
  text-align:center;
}

.doctor-page h2{
  color:#0d6efd;
  margin-bottom:40px;
  font-size:40px;
}

.doctor-container{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:30px;
}

.doctor-card{
  background:white;
  width:260px;
  padding:20px;
  border-radius:12px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
  transition:0.3s;
}

.doctor-card:hover{
  transform:translateY(-10px);
}

.doctor-card img{
  width:100%;
  height:250px;
  object-fit:cover;
  border-radius:10px;
}

.doctor-card h3{
  margin-top:15px;
  color:#333;
}

.doctor-card p{
  margin:10px 0;
  color:gray;
}

.doctor-card button{
  padding:10px 20px;
  border:none;
  background:#0d6efd;
  color:white;
  border-radius:5px;
  cursor:pointer;
  font-size:16px;
}

.doctor-card button:hover{
  background:#084298;
}